      <div>
        <%= form_for post.comments.build, remote: true do |f| %>
        <div class="form-group">
          <%= f.hidden_field :post_id %>
          <%= f.hidden_field :author_id, value: current_user.id %>
          <%= f.label :content, "Comment on this post:" %>
          <%= f.text_area :content, class: "form-control" %>
        </div>
          <%= f.submit "Reply", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>