<aside class="user-info">
  <div>
    <%= user.email %>
  </div>
  <div class="counter">
    <%= link_to friends_user_path(user) do %>
    <span>Friends: </span>
    <span><%= user.friends.count %></span>
    <% end %>
  </div>
  <div class="counter">
    <%= link_to requesters_user_path(user) do %>
    <span>Friends requests: </span>
    <span><%= user.pending_requesters.count %></span>
    <% end %>
  </div>
</aside>