<article class="post text-post">
  <main>
    <%= post.content %>
  </main>

  <aside class="post-meta">
    <div class="meta-author">
      <%= post.author.email %>
    </div>
    <div class="meta-settings">
      <span><%= link_to "View", post_path(post) %></span>
      <span><%= link_to "Edit", edit_post_path(post) %></span>
      <span><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "You sure?" } %></span>
    </div>
  </aside>
</article>
