<container class="row mx-auto timeline">

  <aside class="col-12">
    <h1><%= @timeline.user.email %></h1>
    <div class="counter">
      <%= link_to friends_user_path(@timeline.user) do %>
      <span>Friends: </span>
      <span><%= @timeline.friends.count %></span>
      <% end %>
    </div>
  </aside>

  <main class="col-12">
    <% if @timeline.user == current_user %>
      <%= form_for @timeline.posts.build do |f| %>
        <%= f.text_area :content, placeholder: "Enter post's  content" %>
        <%= f.file_field :image %>
        <%= f.submit "New post" %>
      <% end %>
    <% end %>
    <div class="posts">
      <%= render @timeline.posts.reload.with_attached_image %>
    </div>
  </main>

</container>